<html>
<head>
	<title>I/O Reader<?=isset($title)?" : {$title}":'';?></title>
	<link rel="stylesheet" href="<?=url('css','reset.css')?>" />
	<link rel="stylesheet" href="<?=url('css','styles.css')?>" />
</head>
<body>
<div id="layout">
	<div style="float:right;">
		<?if(isset($original_route)):?>
		<a href="<?=url($original_route)?>" title="View the page that this source represents">view original</a>
		<?else:?>
		<a href="<?=url('view-source').'?route='.get_route()?>" title="View this page's PHP source">view source</a>
		<?endif;?>
	</div>
	<h3><a href="<?=url()?>" title="I/O Reader">I/O Reader</a></h3>
	<?if(isset($tags) && count($tags)):?>
	<dl class="tag_list">
		<dt>Popular Tags</dt>
		<?=element_view('tag_list')->render($scope,array('tags'=>$tags))?>
	</dl>
	<?endif;?>
	<hr />
	<?=$page_view->render($scope);?>
	<hr />
	<center>
		&copy; Copyright 2006-<?=year()?> Peter Goodman, all rights reserved.
	</center>
</div>
</body>
</html>