<? if(!empty($post)): ?>
	<?=element_view('post_full')->render(
		$scope, 
		array('post' => $post->posts, 'user' => $post->users, 'tags' => $tags,
	))?>
	<div class="columns">
		<div class="col_left">
			<h3>Recently</h3>
			<? if(!empty($posts)): ?>
			<? foreach($posts as $post): ?>
				<?=element_view('post_overview')->render(
					$scope, 
					array('post' => $post->posts, 'user' => $post->users,
				))?>
			<? endforeach; ?>
			<? else: ?>
			<p>
				There are none!
			</p>
			<? endif; ?>
		</div>
		<div class="col_right">
			<h3>Discussions</h3>
			<? if(!empty($comments)): ?>
			<? foreach($comments as $comment): ?>
				<?=element_view('comment')->render(
					$scope, 
					array('post' => $comment->posts, 'user' => $comment->users,
				))?>
			<? endforeach; ?>
			<? else: ?>
			<p>
				There are none!
			</p>
			<? endif; ?>
		</div>
		<br />
	</div>
<? else: ?>
<div>
	No posts here!
</div>
<? endif; ?>