<? if(!empty($post)): ?>
	<?=element_view('post_full')->render(
		$scope, 
		array('post' => $post->posts, 'user' => $post->users, 'tags' => $tags,
	))?>
	
	<div class="columns">
		<div class="col_left">
			<? if(!empty($posts)): ?>
			<h2>Older Posts</h2>
			<? foreach($posts as $post): ?>
				<?=element_view('post_overview')->render(
					$scope, 
					array('post' => $post->posts, 'user' => $post->users,
				))?>
			<? endforeach; ?>
			<? endif; ?>
		</div>
		<div class="col_right">
			
		</div>
		<br />
	</div>
<? else: ?>
<div>
	No posts here!
</div>
<? endif; ?>