<h4><a href="<?=$post['perma_link']?>"><?=$post['title']?></a></h4>
<p class="active_content">
	<?=$post['body']?>
</p>

<dl class="tag_list">
	<dt>Tags</dt>
	<?=element_view('tag_list')->render($scope,array('tags'=>$tags))?>
</dl>
<dl>
	<dt>Posted On</dt><dd><?=date("F j, Y, g:ia", $post['created'])?></dd>
	<dt>Posted By</dt><dd><a href="<?=$user['perma_link']?>" title="view <?=$user['display_name']?>'s profile"><?=$user['display_name']?></a></dd>
	<dt>Number of Comments</dt><dd><?=(int)$post['num_children']?></dd>
</dl>
